#login_form {
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    min-width: 300px;
    border: solid black 1px;
    padding: 20px;
    text-align: center;
}

#login_form\:login_panel {
    margin: auto;
    width: 100%;
}

.ui-dashboard-column {
    max-width: 50%;
}
